<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 | 온라인 강의실</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="signup-wrapper">
    <h1>회원가입</h1>
    <form th:action="@{/student/signup}" method="post" th:object="${student}">
        <div class="form-row">
            <label for="email">이메일</label>
            <input type="text" th:field="*{email}" id="email" required/>
        </div>
        <div class="form-row">
            <label for="password">비밀번호</label>
            <input type="password" th:field="*{password}" id="password" required/>
        </div>
        <div class="form-row">
            <label for="studentName">이름</label>
            <input type="text" th:field="*{studentName}" id="studentName" required/>
        </div>
        <button type="submit" class="btn">가입하기</button>
    </form>
</div>
</body>
</html>
