<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 | 온라인 강의실</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="navbar">
    <a href="/" style="font-size:1.18em">온라인 강의실</a>
    <a href="/courses">강의목록</a>
    <a href="/student/signup">회원가입</a>
</div>
<div class="main-container">
    <h1>온라인 강의 홈페이지</h1>
    <a class="btn" href="/courses">강의목록 바로가기</a>
    <a class="btn" href="/student/signup">회원가입</a>
</div>
</body>
</html>
